*{
    margin: 0;
    padding: 0;
}
.button{
    display: inline-block;
    background: #0868bb; 
    color: rgb(255, 248, 248);
    padding: 1rem 1.5rem; 
    border: #E9C00A solid 2px;
    text-decoration: none; 
    border-radius: 10px; 
}
body{
    background-color:#0A5B49;
}
header{
    background-color: #0A5B49;
    color: #E9C00A;
    width: 100%;
    min-height: 5%;
    font-size: 18px;
    font-family: "Arial";
    border-bottom: #E9C00A solid 3px;

}